@{
    ViewData["Title"] = "Register Page";
}
@model User

<section class="hero-wrap hero-wrap-2" style="        background-image: url(../images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">Kayıt ol</h1>

            </div>
        </div>
    </div>
</section>
<br />
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUsername">Kullanıcı Adı</label>
                        <input class="form-control" id="inputUsername" placeholder="Username" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">E-posta</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="E-posta" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword1">Şifre</label>
                        <input type="password" class="form-control" id="inputPassword1" placeholder="Şifre" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword2">Tekrar Şifre</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Tekrar-Şifre" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputDisplayName">Görünecek İsim</label>
                        <input  class="form-control" id="inputDisplayName" placeholder="Görünecek İsim" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="SecretKey">Gizli Cevap</label>
                        <input  class="form-control" id="inputSecretKey" placeholder="Gizli Cevap" required>
                    </div><br />
                          <div class="custom-file" style="margin-bottom:10px; width:20%; margin-left:20px;">
                              <input type="file" name="file" class="form-control" />
                              <div class="invalid-feedback">Bir resim seçin.</div>
                          </div>
                </div><br />
                <button type="submit" class="btn btn-primary" style="width:100%">Kayıt Ol</button>
            </form>
        </div>
    </div>
</div>