@{ ViewData["Title"] = "Blogs";
    var count = 0;
    var pagecount = 1;
    int modelCount=0;}
@model List<Review>


<section class="hero-wrap hero-wrap-2" style="        background-image: url(/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">Oylamalar</h1>
            </div>
        </div>
    </div>
</section>
@*Blogs lists and pages*@
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {

        <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
                <a href="/Blogs/blog/@item.ReviewID" class="block-20" style="background-image: url(@item.BannerImage);"></a>
                <div class="text pt-3 pb-4 px-4">
                    <div class="meta">
                        <div>@item.PublishDate</div>
                        <div>Admin</div>
                    </div>
                    <h3 class="heading"><a href="/Blogs/blog/@item.ReviewID">@item.Header</a></h3>
                    <p class="clearfix">
                        <a href="/Blogs/blog/@item.ReviewID" class="float-left read"><u>Makaleyi oku</u></a>
                    </p>
                </div>
            </div>
        </div>
                modelCount = Model.Count;
                count += 1;
                if (count %6== 0)
                {

                    pagecount += 1;
                    break;
                }
            }



        </div>
        <div class="row no-gutters my-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        @if (modelCount <= 6)
                        {
                            <li><a href="/Blogs/1">1</a></li>
                        }
                        else
                        {
                            for (int i = 1; i <= pagecount; i++)
                            {
                                <li><a href="/Blogs/Index/@i">@i</a></li>
                            }
                        }
                    <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>